<div id="header">
    <div class="header-height"></div>
    <div class="header-body">
        <div class="ikon-container">
            <div class="silhouette">
                <a href="/" class="alogo" aria-label="home" style="border:0;">
                </a>

            </div>
        </div>
    </div>

    <div class="header-menu">
        <div class="ikon-container">
            <div class="inavbar">
                <ul class="imenu ifont">
                    <li class="active" id="mm0" data-tag="home" data-menu-target="item"><a href="/">ЭХЛЭЛ</a></li>
                    <li id="mm1" data-tag="1" data-menu-target="item"><a href="/l/1">УЛС ТӨР</a></li>
                    <li id="mm2" data-tag="2" data-menu-target="item"><a href="/l/2">ЭДИЙН ЗАСАГ</a></li>
                    <li id="mm3" data-tag="3" data-menu-target="item"><a href="/l/3">НИЙГЭМ</a></li>
                    <li id="mm16" data-tag="16" data-menu-target="item"><a href="/l/16">ЭРҮҮЛ МЭНД</a></li>
                    <li id="mm4" data-tag="4" data-menu-target="item"><a href="/l/4">ДЭЛХИЙ</a></li>
                    <li id="mm" data-tag="" data-menu-target="item"><a data-turbo="false" href="/t/58">LIVE</a></li>
                    <li id="mm7" data-tag="7" data-menu-target="item"><a href="/l/7">ТЕХНОЛОГИ</a></li>
                    <li id="mm_top_news" data-menu-target="item" data-tag="top"><a href="/tops">ШИЛДЭГ</a></li>
                    <li><span class="dropdown" data-menu-target="button" data-action="click->menu#showOther">Бусад<span
                                class="ikon-down-dir-small"></span></span></li>
                </ul>
                <form class="searchform" action="/search" method="get">
                    <div class="isearch">
                        <input type="text" aria-label="search" name="q"><span class="isearchbutton"></span>
                    </div>
                </form>
            </div>
        </div>
    </div>

</div>